<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Project style -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="vertical-layout">
    {% include 'snippets/_left-menu.html' %}
    <!-- Start MAIN_CONTAINER -->
    <div class="rightbar">
        {% include "snippets/_messages.html" %}
        {% include 'snippets/_header.html' %}

        {% block content %}{% endblock %}
        {% include 'snippets/_footer.html' %}

    </div>
    <!-- End MAIN_CONTAINER -->
</div>
</body>
{% block scripts %}{% endblock %}
<script src="{% static 'js/main.js' %}"></script>
</html>